option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: lamp-app-db.cijnrr1efnu0.us-east-1.rds.amazonaws.com
    RDS_PORT: 3306
    RDS_DB_NAME: lampapp
    RDS_USERNAME: lampdbadmin
    RDS_PASSWORD: SecurePass123!
  aws:autoscaling:launchconfiguration:
    SecurityGroups: "sg-0c443ff6565523254,sg-0efefcb50a745b68e"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    EnhancedHealthAuthEnabled: true
